@model IEnumerable<WebApplication1.Models.Slowo_Kluczowe>

@{
    ViewBag.Title = "Index";
}

<h2>Lista słów kluczowych</h2>

@if (Session["UserID"] != null && Session["UserRole"] != null)
{
    if (Int32.Parse(Session["UserRole"].ToString()) >= 1)
    {
        <p>
            @Html.ActionLink("Dodaj nowe słowo kluczowe", "Create")
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Strona)
        </th>
        <th>
            @Html.DisplayName("Słowo")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Strona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slowo)
        </td>
        @if (Session["UserID"] != null && Session["UserRole"] != null)
    {
        if (Int32.Parse(Session["UserRole"].ToString()) >= 1)
        {
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID })
            </td>
    }
}
    </tr>
    }

</table>
