@model WebApplication1.Models.Wiadomosci

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń wiadomość</h2>

<h3>Czy napewno chcesz usunąć tą pozycje?</h3>
<div>
    <h4>Wiadomosci</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Treść")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tresc)
        </dd>

        <dt>
            @Html.DisplayName("Odbiorca")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Czytelnik.Imie)@:&nbsp;
            @Html.DisplayFor(model => model.Czytelnik.Nazwisko)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
