@model IEnumerable<WebApplication1.Models.Ksiazka>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Książek</h2>

@if (Session["UserID"] != null && Session["UserRole"] != null)
{
    if (Int32.Parse(Session["UserRole"].ToString()) >= 1)
    {
        <p>
            @Html.ActionLink("Dodaj Nową Książkę", "Create")
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tytuł")
        </th>
        <th>
            @Html.DisplayName("Imie Autora")
        </th>
        <th>
            @Html.DisplayName("Nazwisko Autora")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor.Nazwisko)
        </td>
        @if (Session["UserID"] != null && Session["UserRole"] != null)
    {
        if (Int32.Parse(Session["UserRole"].ToString()) >= 1)
        {
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID }) |
                @Html.ActionLink("Dodaj do Koszyka", "Add", "Koszyk", new { id = item.ID, type = 0 }, null)
            </td>
    }
}
    </tr>
    }

</table>
