@model WebApplication1.Models.Praca_Naukowa

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tytuł")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>

        <dt>
            @Html.DisplayName("Autor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor.Imie)@:&nbsp;
            @Html.DisplayFor(model => model.Autor.Nazwisko)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
