@model WebApplication1.Models.Film

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń Film</h2>

<h3>Czy napewno chcesz usunąć tę pozycję?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tytuł")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>

        <dt>
            @Html.DisplayName("Aktor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aktor.Imie)@:&nbsp;
            @Html.DisplayFor(model => model.Aktor.Nazwisko)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
