@model WebApplication1.Models.Ksiazka_Etykieta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ksiazka_Etykieta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etykieta.Etykieta1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etykieta.Etykieta1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ksiazka.Tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ksiazka.Tytul)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
