@model IEnumerable<WebApplication1.Models.Wypozyczenia_Ksiazki>

@{
    ViewBag.Title = "Index";
}

<h2>Wypożyczone książki</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Data Wypożyczenia")
        </th>
        <th>
            @Html.DisplayName("Data Zwrot")
        </th>
        <th>
            @Html.DisplayName("Tytuł")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Wypozyczenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Zwrotu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ksiazka.Tytul)
        </td>
        @if (Session["UserID"] != null && Session["UserRole"] != null)
        {
            if (Int32.Parse(Session["UserRole"].ToString()) >= 1)
            {
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID })
            </td>
            }
        }
        </tr>
}

</table>
